// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

///////////// Variables
@variable-nav-color: rgb(94, 94, 94);
@variable-H1-bold: bold;

////////////// Mixins
.flexbox-space-between-mixin {
	justify-content: space-between;
	display: flex;
}
.flexbox-row {
	display: flex;
	flex-direction: row;
}

//////////////// Container
.container {
    width: 878px;
	margin: 0 auto;
	/* border: 1px solid red; */	
	@media (max-width: 878px){
		width: 100%;
	}

h2 {
	font-weight: @variable-H1-bold;
	
}

.navigation {
	display: flex;
	nav {
		margin-top: 40px;
		width: 878px;
		align-items: center;
		.flexbox-space-between-mixin;
		padding: 0 0 0 0;
	}
	a{
		text-decoration: none;
		margin: 0 60px;
		font-color: @variable-nav-color;
	}
}

.cta{
	display: flex;
	align-items: flex-start;
	.cta-text {
		width: 50%;
		font-size: 80px;
		vertical-align: top;
		text-align: center;
		padding: 0px 60px;
	}
	/* Button */
	.cta-text button{
		background: white;
		vertical-align: top;
		margin-top: 5px;
		padding: 10px 50px;
		font-size: 18px;
		border: 1px solid black;
	}
	button:hover {
		background: black;
		color: white;
	}
	/* Image */
	.bio {
		Height: 50%;
		Width: 50%;		
	}
}

/* Top Text */
.intro {
	border-top: 1px solid black;
	.flexbox-row;
	.text-container{
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

// Skills

.skills {
	display: flex;
	justify-content: space-evenly;
	padding-bottom: 25px;
	padding-top: 40px;
	.skill-hist {
		width: 420px;
	}
	ul {
		padding: 25px;
		list-style-type: square;
		line-height: 1.5;
	}
}

// Bottom Image
.code-screen {
	width: 80%;
	Height: 80%;
}
/* Bottom Text */
.history {
	justify-content: space-between;
	.flexbox-row;
		width: 100%;
		padding-top: 20px;
		line-height: 20px;
		padding-bottom: 60px;
	}


/* Contact and Footer */
.contact {
	padding: 25px 0px 0px 0px;
	border-top: 1px solid black;
}

footer {
	text-align: center;
	padding: 35px 0px;}
}


/* Mobile ******************************/
@media(max-width: 500px) {
    .container {
		width: 500px;
		padding: 0 0 0 0;
	}
/* Image **********************/

	.navigation {
		nav{
			width: 500px;
			margin: 25px;
			display: flex;
			flex-direction: column;
			align-items: left;
			padding: 0 0 0 0;
		}
		a {
			width: 500px;
			border: 1px solid black;
			font-size: 22px;
			padding: 15px 60% 0px 40%;
		}
	}

	.cta {
		margin: 0px 0 20px 0;
		
		.bio {
			display: none;
		}
		.cta-text {
			align-items: flex-start;
			width: 100%;
			text-align: center;
			font-size: 75px;
		}
	}
/* Main Body ******************/
.main-body {
	padding: 0 0 0 0;		
	.intro {
		border-top: 1px solid black;
		.text-container {
			display: flex;
			flex-direction: column;
			margin-bottom: 35px;
			width: 100%;
			padding-top: 10px;
			padding-bottom: 10px;
			}
}
	.history {
		font-size: 13px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-left: 0px;
		padding-top: 0px;
		width: 100%;		
	}
/* image *********************/
	.middle-img {
		width: 100%;
	}    

.contact {
	width: 100%;
	margin-left: 0px;
}

.footer {
	width: 100%;
	padding-bottom: 6px;
}
// Image
.code-screen {
	display: none;
	}
// End Main Body
}
// End Mobile Container
}
